@charset "utf-8";

h1 {
  /* text-align: center; */
  width: 200px;
  margin: auto;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  color: rgb(85, 223, 126);
  text-shadow: 2px 6px 8px #000;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

nav {
  width: 1000px;
  background-color: rgb(121, 219, 126);
  margin: auto;
  box-shadow: 3px 3px 5px #000;
}

ul {
  /* list-style: none; */
  text-align: center;
  /* padding: 0; */
  list-style-image: url("../images/dot.png");
}

li {
  width: 150px;
  border: 3px solid #222;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}

p {
  text-decoration: overline;
}

.tran1 {
  text-transform: capitalize;
  letter-spacing: 2px;
}

.tran2 {
  text-transform: uppercase;
}

.tran3 {
  text-transform: lowercase;
  letter-spacing: 8px;
}
